body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101010;
}

#rick
{
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    margin-top: 17px;
}

nav
{
    background-color: #191919;
    width: 100%;
    color: white;
    border-radius: 3px;
}

.p1
{
    opacity: 0;
}

.roll .p1
{
    opacity: 1;
}

nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

.menu :hover
{
    background-color: black;
    transition: ease;
    transition-duration: 0.2s;
}


h3
{
    color: white;
}